/*Maak hier jouw CSS!*/

.container{
    display: grid;
    background-color: #FEEFDB;
    padding: 2px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
    grid-template-areas:
    "Header"
    "B"
    "C"
    "D"
    "E"
    "empty"
    "footer";

}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-width: 5px;
    border-color: #932F37;
    border-style: solid;
    background-color: #BA3A45;
    margin: 16px;

}

.header{
    grid-area: Header;
}

.Main{
    grid-area: B;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.C{
    grid-area: C;
}

.D{
    grid-area: D;
}

.E{
    grid-area: E;
}

.footer{
    grid-area: footer;

}

.empty{
    grid-area: empty;
    padding: 15px;
    border-width: none;
    border-color: none;
    border-style: none;
    background-color: #FEEFDB;
    margin: 16px;
}

@media screen and (min-width: 576px) {
    .container{
        display: grid;
        background-color: #FEEFDB;
        padding: 2px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 190px 100px auto 50px;
        grid-template-areas:
    "Header C C"
    "B C C"
    "B E D"
    "B E D"
    "footer footer footer";
}